name: user-flow
on:
  pull_request:
    branches:
    - main
jobs:
  user-flow-integrated-in-ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v3
      - name: use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: install
        run: yarn install --frozen-lockfile
      - name: Executing user-flow CLI
        uses: push-based/user-flow-gh-action@v0.2.0
        with:
          verbose: 'on'
          rcPath: ./projects/todo-mvc/.user-flowrc.json
